:root {
  --clr-primary-50: #fbdfe4;
  --clr-primary-100: #f4c7cf;
  --clr-primary-200: #edb5bf;
  --clr-primary-300: #e38d9d;
  --clr-primary-400: #da7084;
  --clr-primary-500: #be4b61;
  --clr-primary-600: rgb(136, 52, 69);
  --clr-primary-700: rgb(91, 26, 40);
  --clr-primary-800: rgb(70, 18, 29);
  --clr-primary-900: rgb(30, 7, 12);

  --clr-secondary-100: #f8f9fe;
  --clr-secondary-200: #e1e4f7;
  --clr-secondary-300: #cfd3f4;
  --clr-secondary-400: #b7bdf6;
  --clr-secondary-500: #9198e5;
  --clr-secondary-600: #7075b2;

  --clr-background: #faf9f3;
  --clr-error: #f8002d;

  --clr-neutral-100: #fffaf5;
  --clr-neutral-200: #dbd7d4;
  --clr-neutral-900: #070600;

  --clr-text-light: ;
  --clr-text-dark: ;

  --ff-primary: "IBM Plex Sans", sans-serif;
  --ff-accent: ;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
img,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
header {
  line-height: 1;
  font-weight: 900;
  margin-bottom: 0.5em;
}

h2,
h3,
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

header {
  padding: 3rem 1rem 3rem 1rem;
  color: var(--clr-neutral-100);
  background: linear-gradient(var(--clr-secondary-500), var(--clr-primary-500));
  display: flex;
  justify-content: center;
  font-size: 4ch;
  margin: 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-style: solid none solid none;
  background: linear-gradient(var(--clr-secondary-500), var(--clr-primary-500));
  display: flex;
  max-height: 5em;
}

nav {
  margin-left: 1em;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(var(--clr-secondary-500), var(--clr-primary-500));
}

nav > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  min-width: 1rem;
  border-style: solid transparent;
}

.nav-a:hover {
  border-style: solid;
}

.title {
  margin: 0;
  padding-bottom: 0;
}

.page {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.container > * {
  flex: 1 1 33%;
}

.appContainer {
  display: flex;
}

section {
  padding: 2em;
  min-width: 15em;
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

img {
  max-width: 75%;
  max-height: 30%;
  display: block;
}

.splitParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 1px;
  position: relative;
  padding: 100px, 20vw;
  border-style: solid;
  border-width: 3px;
  background-color: var(--clr-neutral-100);
}

.productLink {
  color: #070600;
}

:link {
  color: var(--clr-neutral-900);
}
:visited {
  color: var(--clr-neutral-900);
}

@media (max-width: 40rem) {
  .container {
    flex-direction: column;
  }

  .container > * {
    flex: 1 1 33%;
  }

  .container > * + * {
    margin-left: 2em;
  }
}
