:root {
  --clr-primary-50:#f7cfd6;
  --clr-primary-100:#f9b9c5;
  --clr-primary-400: #d1586e;
  --clr-primary-500: #be4b61;
  --clr-primary-variant: rgb(136, 52, 69);

  --clr-secondary-500: #9198e5;
  --clr-secondary-variant: #7075b2;

  --clr-background: #eeece0;
  --clr-error:#f8002d;

  --clr-neutral-100: #fffaf5;
  --clr-neutral-200: #dbd7d4;
  --clr-neutral-900: #070600;

  --clr-text-light: ;
  --clr-text-dark: ;

  --ff-primary: "IBM Plex Sans", sans-serif;
  --ff-accent: ;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
img,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
header {
  line-height: 1;
  font-weight: 900;
  margin-bottom: 0.5em;
}

h2,
h3,
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

header {
  padding: 1rem 1rem 1rem 1rem;
  color: var(--clr-neutral-100);
  background: linear-gradient(var(--clr-secondary-500),var(--clr-primary-500));
  display: flex;
  justify-content: center;
  font-size: 4ch;
  margin: 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-style: solid none solid none
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--clr-primary-500);
  border-style: solid none none none
}

nav > * {
  margin-left: 2em;
  margin-right: 2em;
}

.title {
  margin: 0;
  padding-bottom: 0;
}

.page {
  padding-top:10rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.container > * {
  flex: 1 1 33%;
}

.appContainer {
  display: flex;
}

section {
  padding: 2em;
  min-width: 15em;
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

img {
  max-width: 75%;
  max-height: 30%;
  display: block;
}

.splitParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 1px;
  position: relative;
  padding: 100px, 20vw;
  border-style: solid;
  border-width: 3px;
  background-color: var(--clr-neutral-100);
  }



:link {
  color: var(--clr-neutral-100);
}
:visited {
  color: var(--clr-neutral-100);
}

@media (max-width: 40rem) {
  .container {
    flex-direction: column;
  }

  .container > * {
    flex: 1 1 33%;
  }

  .container > * + * {
    margin-left: 2em;
  }
}
