:root {
    /* original
    --clr-primary-300: #f3eed9;
    --clr-primary-400: #824936;
    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;
    */
  
    --clr-primary-300: ##FFFFE3;
    --clr-primary-400: #BE4B61;
  
    --clr-neutral-100: #fffaf5;
    --clr-neutral-900: #263834;
  
    --clr-text-light: ;
    --clr-text-dark: ;
  
    --ff-primary: "IBM Plex Sans", sans-serif;
    --ff-accent: ;
  }
  
  body {
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-color: var(--clr-primary-300);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  img,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3 {
      color: var(--clr-primary-400);
    line-height: 1;
    font-weight: 900;
    margin-bottom: .5em;
  }
  
  h2, h3, p {
      margin-top: 1em;
      margin-bottom: 1em;
  }
  
  .bg-light {
    background-color: var(--clr-primary-300);
  }
  .bg-dark {
      color: var(--clr-neutral-100);
      background-color: var(--clr-neutral-900);
    }
  .bg-primary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
  }
  .bg-primary h2, 
  .bg-dark h2 {
      color: var(--clr-primary-300)
  }
  
  header, section {
      padding: 3rem 0;
  }
  
  .container {
      margin-inline: auto;
      width: min(90%, 70.5rem);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
  }

  section {
    width: max(30%, 30rem)
  }
  
  .text-center {
      text-align: center;
  }
  
  img {
      max-width: 100%;
      display: block;
  }
  
  .splitParent {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  section {
    position:relative;
    min-height: 30em;
    padding: 100px, 20vw
  }

  nav {
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  @media (min-width: 40em) {
      .splitParent {
          flex-direction: row;
      }
  
      .splitParent > * {
          flex-basis: 100%;
      }
  
      .splitParent > * + * {
          margin-left: 2em;
      }
  }